<!DOCTYPE html>
<html>
  <head>
    <title></title>

    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </head>
  <body onload="populate_list()">
    <script>
      var word_count = "<%= word_count %>";
      var words = "<%= words %>".split(",");
      var list_name = "<%= list_name %>";

      function populate_list() {
        var new_list_name = document.getElementById("new_list_name");
        new_list_name.value = list_name;
        // var new_list_name = document.getElementById('new_word_list')
        // new_list_name.value = words;
        for (i = 0; i < words.length; i++) {
          $("#new_word_list").append(words[i], "\n");
        }
      }
    </script>

    <div class="container">
      <div id="home_button" class="m-2">
        <button
          id="home"
          type="button"
          class="btn btn-primary"
          onclick=" window.location.href = '/'"
        >
          HOME
        </button>
        <p></p>
      </div>
      <div class="alert alert-danger" role="alert">
        The Database has been archieved - DO NOT PRESS THE BACK BUTTON ON
        BROWSER
      </div>
      <div id="input" class="m-2">
        <label id="list_name_label">Enter List name - </label>
        <input type="text" id="new_list_name" />
        <p></p>
        <label id="word_list_label">Enter List of Words - </label>
        <p></p>
        <textarea id="new_word_list" rows="25" cols="35"></textarea>
        <!-- <br /> -->
        <div class="m-2">
          <button type="button" class="btn btn-primary" id="edit_list">
            Create List
          </button>
        </div>
      </div>
    </div>
    <div id="loader"></div>
  </body>
</html>
