<!DOCTYPE html>
<html>
  <head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="/javascripts/main.js"></script>
    
  </head>
  <body onload="create_puzzle()">
    
    <script>

      var word_count = "<%= word_count %>"
      var game_words = "<%= game_words %>".split(',')
      var puzzle_word = "<%= puzzle_word %>".split(',')
      var puzzle_meaning = "<%= puzzle_meaning %>".split(',')
      
      //hint the correct answers in console
      console.log("correct answers = " + puzzle_word)

      function create_puzzle(){

        if(word_count > 30){
          alert("more than 30 words - it becomes messy")
          // send back to home screen
          window.location.href = '/';
        }

        for(i=0;i<word_count;i++){

          $("#top").append("<button class='words'>"+game_words[i]+"</button>")
          // $("#main_content").append("<p class='meaning'>"+(i+1)+" - "+puzzle_meaning[i]+" <input class='answer'> </input>"+"</p")
          $("#main_content").append("<p class='meaning' id='item_"+(i+1)+"'>"+(i+1)+" - "+puzzle_meaning[i]+" <input class='answer'> </input>"+"</p")
          

        }

      }

    //   console.log(game_words)

      function check_answer(){

        // hide the submit answer button
        $("#submit_answer").hide();
        

        // collect the answers
        var given_answers = [];
        $('.answer').each(function () {
          given_answers.push($(this).val()); // ids.push(this.id) would work as well.
          $(this).val('')
        });
        
        
        var wrong_answer = []
        for(i=0;i<word_count;i++){

          if(given_answers[i]!=puzzle_word[i])
            wrong_answer.push(i+1)
        }

        if(wrong_answer.length == 0)
            alert(" all correct")
        else{
            // alert("wrong answers given for Question no. -  "+wrong_answer.length+"\n"+"question number - " + wrong_answer)
            wrong_answer.forEach(element => {
              var item = "#item_"+element
              // $(item).css("background-color", "#FFCCCC");
              $(item).css("color", "red");
            });
          }
            
        // save result
        save_result('game_1',wrong_answer.length);

      }

    </script> 




    

    <div class="page">

      <div class="header">

        <div id="home_button">
          <button id="home" class="button" onclick=" window.location.href = '/'">HOME</button><p></p>
        </div>
        
        <!-- contains words -->
        <div id="top">
        </div>

      </div>
      

      <!-- contains meaning or example -->
      <div id='main_content'></div>
      </div>

      <div class="footer">
        <button id="submit_answer" class="button" onclick="check_answer()">Submit Answer</button><p></p>
      </div>

    </div>



  </body>
</html>
