<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/main.js"></script>


  </head>
  <body>
    
    <div id="input">

      <label id="list_name_label">Enter List name - </label>
      <input type="text" id="list_name">
      <p></p>
      <label id="word_list_label">Enter List of Words - </label>
      <p></p>
      <textarea id="word_list" rows="25" cols="35"></textarea>
      <button type="button" class="button" id="create_list" >Create List</button>

    </div>
    
    <div id="loader"></div>

  </body>
</html>
