<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <!-- <script src="/javascripts/main.js"></script> -->


  </head>
  <body>
    
    <button type="button" class="button" id="create_list" onclick="location.href = '/get_words'">Create List</button>

  </body>
</html>
