<!DOCTYPE html>
<html>
  <head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body onload="show_list()">
    
    <script>

      var word_count = "<%= word_count %>"
      var words = "<%= words %>".split(',')
      var meaning = "<%= meaning %>".split(',')
      var example = "<%= example %>".split(',')
     

      // console.log(meaning)

      function show_list(){


        // replace duplicate words with blanks
        var no_dupe_word = [], no_dupe_serial = [];
        words.filter(function(element, position) {
          if(words.indexOf(element) == position){
            no_dupe_word.push(element)
            no_dupe_serial.push(position+1)
          }
          else{
            no_dupe_word.push("")
            no_dupe_serial.push("")
          }
        })


        for(i=0;i<word_count;i++){

          $("#word_table").append('<tr><td>'+ no_dupe_serial[i]
                            +'.</td>'+'<td id="word_study">'+ no_dupe_word[i] + '</td> <td id="meaning_study">'+meaning[i]+'</td'+'</tr>');
          $("#word_table").append('<tr> <td></td> <td></td>'+'<td id="example_study">'+'Example - '+example[i]+'</td>'+'</tr>');


          // create gap between words
          $("#word_table").append('<tr> <td></td> <td></td> <td></td> </tr>');
          $("#word_table").append('<tr> <td></td> <td></td> <td></td> </tr>');
          $("#word_table").append('<tr> <td></td> <td></td> <td></td> </tr>');
          $("#word_table").append('<tr> <td></td> <td></td> <td></td> </tr>');
          $("#word_table").append('<tr> <td></td> <td></td> <td></td> </tr>');
          $("#word_table").append('<tr> <td></td> <td></td> <td></td> </tr>');
          $("#word_table").append('<tr> <td></td> <td></td> <td></td> </tr>');
          $("#word_table").append('<tr> <td></td> <td></td> <td></td> </tr>');

        }

      }

     
    </script> 




    

    <div class="page">

      <div class="header">

        <div id="home_button">
          <button id="home" class="button" onclick=" window.location.href = '/'">HOME</button><p></p>
        </div>
      </div>
      

    
      <div id='main_content'>

        <table id="word_table">
                  
        </table>

      </div>

      

      <!-- <div class="footer">
        
      </div> -->

    </div>



  </body>
</html>
